{
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "EReact.createElement",
                "throwIfNamespace": false
            }
        ]
    ]
}
